/*################## navbar #############################################*/
.navbar-default{
    background-color: transparent;
    padding-top: 30px;
    border-bottom: none;   
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover{
    font-size: 25px;
    color: white;
}
.navbar-default .navbar-nav  li  a{
    font-size: 20px;
    color: white;
    padding-bottom: 5px ;/******** hover focus **********/
    margin-right: 20px; /* menu space*/
}
.navbar-default .navbar-nav li a:hover, 
.navbar-default .navbar-nav li.active a{
    opacity: 0.8;
    color: white !important;
    border-bottom: 2px solid white;
    background-color: transparent !important;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}
.bar1_2{
    transform:rotate(45deg);
    transform-origin:10% 10%;
}
.bar2_2{
    opacity: 0;
}
.bar3_2{
    transform:rotate(-45deg);
    transform-origin:10% 90%;
}
 .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border: none;
    background-color: transparent;
}
.navbar-default .navbar-collapse{
    border-top-color:white;
    background-color: rgb(0,0,0,.8);
}

/*################## in palallax #############################################*/
.text1{
    padding-top: 200px;
    text-align: center;
}
.text1 > h1 > a{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: 10px;
    border-radius: 50px;
    font-family: 'Prompt', sans-serif;
}
.text1 > h1 > a:hover{
    background-color: rgba(0,0,0,.5);
    border: none;
}

/*################## overley #############################################*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay .closebtn {
    position: absolute;
    bottom: 0px;
    font-size: 80px;
    color: white;
    
}
.overlay .closebtn:hover{
    opacity: 0.8;
}
.img-responsive{
    margin-left: 50px;
    margin-top: 100px;
    padding-left: 8%
}
.carousel-inner{
    height: 500px
}
.carousel-indicators li{
    background-color: steelblue;
    font-size: 50px;
    border: none;
}
.carousel-indicators .active{
    background-color: skyblue;
}
.carousel-caption{
    max-width: 450px;
    position: absolute;
    top: 0;
    right: 10%;
    left:auto;
    text-align: left;
    
}
.text6{
    font-size: 25px
}
/*################## product #############################################*/
.col-md-4{
    text-align: center;
    margin-bottom: 20px;
}
.img{
  margin: auto;
  width: 250px;
  height: 200px
}
.text2{
    text-align: center;
    padding: 20px;
    margin-top: 50px
}
.text3{
    text-align: center;
    padding: 10px 40px 40px 10px;
}

/*################## About us #############################################*/
.text4{
    padding: 10px 50px 10px 50px;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,.5);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px
}
#more{
    display: none;
}
.text5{
    color: black;
    margin: auto;
    text-align: center;
    margin: 30px 100px 30px 100px;
}
/*################## Footer #############################################*/
.foot{
    background-color: rgb(25, 25, 25);
    text-align: center;
    color: white;
}

/*################## screen #############################################*/
@media screen and (max-width: 700px) {
    .overlay .closebtn {
        left: 46%;
    }
    .text4{
        padding: 5px;
    }
    .text5{
        margin: auto;
        text-align: left
    }
    .carousel-caption{
        color: black
    }
    .img-responsive{
        margin-left: 0;
        padding-left: 0;
    }
}